In [1]:
# Markdown

In [2]:
## Markdown

# Markdown
## Markdown
### Markdown
#### Markdown

In [3]:
**python**
*python*

SyntaxError: invalid syntax (<ipython-input-3-cb8fa08b381a>, line 1)

**Python**
*Python*

**Python**
*python*

## Insert image
![text](https://image.shutterstock.com/image-photo/bright-spring-view-cameo-island-260nw-1048185397.jpg)

## Insert site
[site](https://vspgit.gitam.edu/)

In [4]:
print("hello world")

hello world

In [5]:
print("hello, hyd")

hello, hyd

# assignment

In [6]:
x=10
y=19
print(x,y)

10 19

In [7]:
a=b=c=20
print(a,b,c)

20 20 20

In [8]:
a1,b1,c1=10,20,30
print(a1,b1,c1)

10 20 30

# Data Types and coversions

int

In [9]:
float
string

NameError: name 'string' is not defined

# float
# string
# int

# Data Types and coversions
- int
-float
-string

In [10]:
x=10
y=12.567
z=3+5j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [11]:
x=4
y=10
x<y

True

In [12]:
# string
s1="abc"
s2="xyz"
print(type(s1))
print(type(s2))

<class 'str'>
<class 'str'>

In [13]:
a=123
print(type(a))

<class 'int'>

In [14]:
a="123"
print(type(a))

<class 'str'>

In [15]:
i=100
print(type(i))
s1=str(i)
print(type(s1))
f=float(i)
print(type(f))

<class 'int'>
<class 'str'>
<class 'float'>

# Reading a value input function

In [16]:
s=input("enter name: ")
print(s)

enter name: sreeja
sreeja

In [18]:
s=input("enter name:")
print(s)
print(type(s))

enter name:sreeja
sreeja
<class 'str'>

In [20]:
a= int(input ("enter age:"))
print(a)
print(type(a))

enter age:20
20
<class 'int'>

# Operators
operator is a symbol is used to perform a specific kind of operations

# Arithmetic operator
- +
- -
- *
- %
- /
- //
- **

In [21]:
n1=123
print(n1+10)
print(n1-10)
print(n1*10)
print(n1%10)
print(n1/10)
print(n1//10)
print(n1**10)

133
113
1230
3
12.3
12
792594609605189126649

# Precedence of arth operations
- paranthesis
- power
- multiplication
- division
-addition

In [22]:
x=1+2**3/4+5
print(x)

8.0

In [23]:
x=1+2**3/4*5
print(x)

11.0

# Relational operators
- ==,!=,<,>,<=,>=,

In [24]:
a=10
a1=a>15
print(a1)

False

# logical operator

In [26]:
x=20
y=30
print(x>=10 and x<=20)
print(x>=10 or x<=20)
print(not x)

True
True
False

# Membership operators

In [31]:
str1="abcd"
print('a' in str1)
print('e' not in str1)

True
True

# Conditional statements
## if - else statements
### syntax
#### if condition:
> statements<br>
##### else:
> statements

In [36]:
# even or odd
n=int(input("enter a number"))
if n%2==0:
   print("even number")
else:
    print("odd number")

enter a number544
even number

In [37]:
# chechk give is perfectly multiple of 3 and 5

n=int(input("enter a number"))
if (n%3==0 and n%5==0):
   print("divisible")
else:
    print("not divisible")

enter a number15
divisible

In [40]:
# check give number is positive,negative or zero
n=int(input("enter a number"))
if n>0:
    print("+ve")
elif n<0:
    print("-ve")
else:
    print("zero")

enter a number67
+ve

In [ ]:
# check given number is leap yera or not
n=int(input("enter a year"))
if(n%400 ==0 and n%100!=0):
        print("leap year")
else:
        print("not a leap year")

In [1]:
n=int(input("enter a year"))
if(n%4 ==0):
    print("leap year")
else:
    print("not a leap year")

enter a year2000
leap year

In [2]:
# find large number from given 3 numbers
a=int(input("enter number"))
b=int(input("enter number"))
c=int(input("enter number"))
if a>b and b>C:
    print(a,"is large number")
elif b>a and b>c:
    print(b,"is large number")
else:
    print(c,"is large number")

enter number12
enter number23
enter number56
56 is large number

# while statements:
### Syntax:
#### while boolean_condition:<br>
statements<br>
increment/decrement<br>