In [19]:
li=["gitam",123,124,1323,3451]
print(li)
print(li[1])
print(li[2:])
print(li[2:4])

['gitam', 123, 124, 1323, 3451]
123
[124, 1323, 3451]
[124, 1323]

In [3]:
#update
li[0]="sreeja"
print(li)

['sreeja', 123, 124, 1323, 3451]

In [4]:
#delete
del li[3]
print(li)

['sreeja', 123, 124, 3451]

In [6]:
#read
print (li[2])

124

In [7]:
li=[1,23,3,4,545]
print(len(li))
print(li*2)
print(5 in li)
print(4 in li)

5
[1, 23, 3, 4, 545, 1, 23, 3, 4, 545]
False
True

# Basic list funtions

In [10]:
li=[1,2,3,4,5,6]
print(max(li))
print(min(li))
print(sum(li))
print(sum(li)/len(li))#average

6
1
21
3.5

In [11]:
li=[1,2,3,4,5,6]
li.append(26)#add new item at of the list
print(li)
li.insert(2,56)# add new item at specific index
print(li)

[1, 2, 3, 4, 5, 6, 26]
[1, 2, 56, 3, 4, 5, 6, 26]

In [12]:
li=[1,2,56,3,4,5,6,29]
li.sort()# sorts list in ascending order
print(li)
li.pop()# last index will delete
print(li)
li.pop(1)# removes items from specific index
li

[1, 2, 3, 4, 5, 6, 29, 56]
[1, 2, 3, 4, 5, 6, 29]

[1, 3, 4, 5, 6, 29]

In [13]:
# function to return large number from list
def largenumber(li):
    li.sort()
    return li[-1]
def genericlarge(li,n):
    li.sort()
    return li[-n]
li=[19,1,3,87,32,21,36]
print(largenumber(li))
print(genericlarge(li,3))

87
32

In [17]:
def smallnumber(li):
    li.sort()
    return li[0]
def genericsmall(li,n):
    li.sort()
    return li[n-1]
li=[3,7,6,1,9,56,78]
print(smallnumber(li))
print(genericsmall(li,2))

1
3

# tuples
- values seperated by comma enclosed by parenthesis()
- values cannot be changed i.e immutable
# difference b/w list and tuple
- list can be modified
- list used to access means modify,add,delete,update
- tuple cannot be modified
- used to access data only

In [18]:
t1=(1,2,3,4,5)
print(t1)
print(type(t1))

(1, 2, 3, 4, 5)
<class 'tuple'>

# dictionaries
- works on concept of set unidue data
- dictionary contains keys and values
- each key is seperated for its values with colon ':'
- each key and values seperated by comma','
- dictionary enclosed by {}

In [25]:
d1={"name":"gitam","email":"gitam@gmail.com","address":"hyderabad"}
d1

{'name': 'gitam', 'email': 'gitam@gmail.com', 'address': 'hyderabad'}

In [26]:
d1["name"]

'gitam'

In [2]:
d1={"name":"gitam","email":"gitam@gmail.com","address":"hyderabad"}
d1["email"]="python@gmail.com"
d1

{'name': 'gitam', 'email': 'python@gmail.com', 'address': 'hyderabad'}

In [4]:
d1['cousre']="python"
d1

{'name': 'gitam',
 'email': 'python@gmail.com',
 'address': 'hyderabad',
 'cousre': 'python'}

In [5]:
del d1["email"]
d1

{'name': 'gitam', 'address': 'hyderabad', 'cousre': 'python'}

In [6]:
d1.keys()

dict_keys(['name', 'address', 'cousre'])

In [7]:
d1.values()

dict_values(['gitam', 'hyderabad', 'python'])

In [9]:
d1.items()

dict_items([('name', 'gitam'), ('address', 'hyderabad'), ('cousre', 'python')])

# strings

In [10]:
s1='python'
s1

'python'

In [11]:
s1='python'
print(s1)
print(type(s1))

python
<class 'str'>

In [16]:
s1='python'
print(s1[0])
print(s1[5])
print(s1[2:])
print(s1[-1::-1])
print(s1[::-1])

p
n
thon
nohtyp
nohtyp

In [21]:
s1='python'
print(s1[len(s1)//2])
print(s1[0:6:2])
print(s1[0:6:3])
print(s1[0:6:4])

h
pto
ph
po

In [24]:
 # using function reverse of string
def reverseofstring(str):
        print(str[::-1]) 
reverseofstring("programming")

gnimmargorp

In [4]:

def reverseofstring(str):
    if str==str[::-1]:
     return True
    else:
        return False
    
print(reverseofstring("programming"))
print(reverseofstring("mom"))

False
True

# string build-in-methods:
- upper()
- lower()
- islower()
- isupper()
- istitle()
- isnumeric()
- isalpha()
- isspace()

In [12]:
s1='python'
print(s1.upper())
print(s1.lower())
print(s1.istitle())
print(s1.isupper())
print(s1.islower())
print(s1.isnumeric())
print(s1.isalpha())
print(s1.isspace())

PYTHON
python
False
False
True
False
True
False

In [17]:
s1='p y t h o n'
print(s1.isspace())

False

In [18]:
s1=' '
print(s1.isspace())

True

# string methods
- join()
- split()
- replace()
-

In [19]:
s1='python'
print(" ".join(s1))

p y t h o n

In [20]:
s1='python'
print("@".join(s1))

p@y@t@h@o@n

In [21]:
s1="python is easy"
print("#".join(s1))

p#y#t#h#o#n# #i#s# #e#a#s#y

In [22]:
s1="python is easy"
print(s1.split())

['python', 'is', 'easy']

In [23]:
s1="python is easy"
print(s1.replace("easy","very easy"))

python is very easy

In [24]:
s1="python is easy"
li=list(s1)
li

['p', 'y', 't', 'h', 'o', 'n', ' ', 'i', 's', ' ', 'e', 'a', 's', 'y']

In [52]:
d1={'peter':[80,85,90],'joe':[86,90,95]}
d1['peter']
li=d1['peter']
li[1]
li[2]
li=d1['joe']
li[::-1]

[95, 90, 86]